* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  background-color: rgb(240, 239, 239);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card,
.header {
  width: 1140px;
  background-color: white;
  padding: 15px;
}

h1 {
  color: #084e7c;
  font-weight: 700;
  margin: 0;
}

.article {
  color: #a7a7a7;
}
.card {
  display: inline-flex;
}

hr {
  border-width: 1px;
}

.form {
  padding: 0 25px;
}

.price-before {
  color: #a7a7a7;
  text-decoration: line-through #585858;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.price {
  font-weight: 600;
  font-size: 30px;
  color: #ff4a4a;
  margin: -12px 0 0 0;
}

.description {
  color: #084e7c;
  font-size: 18px;
  margin: 0;
}

.instock {
  background-color: #b3cc05;
  color: white;
  font-size: 14px;
  width: 80px;
  text-align: center;
}

.choice-list span,
.color-list span {
  color: #084e7c;
  font-weight: 600;
  font-size: 16px;
  margin-right: 5px;
}

.choice {
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #084e7c;
  margin: 0 5px;
}

.choice-list .choice {
  width: 32px;
}

.color-list {
  margin: 10px 0;
}

.add-to-cart,
.add,
.go {
  border: none;
  color: white;
  font-size: 28px;
  font-weight: 700;
  height: 70px;
  margin: 10px 0;
  text-transform: uppercase;
}

.add-to-cart,
.add {
  background-color: #02a2d9;
}

.add-to-cart {
  width: 100%;
}

.add,
.go {
  width: 49.5%;
}

.go {
  background-color: #b3cc05;
}
