* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  background-color: rgb(240, 239, 239);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 1140px;
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 4px 3px gray;
  margin-top: 30px;
}

h1 {
  color: #084e7c;
  font-weight: 700;
  margin: 0;
}

.article {
  color: #a7a7a7;
}

hr {
  border-width: 1px;
}

.data {
  display: inline-flex;
  margin-top: 20px;
}

.form {
  padding: 0 25px;
}

.price-before {
  color: #a7a7a7;
  text-decoration: line-through #585858;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.price {
  font-weight: 600;
  font-size: 30px;
  color: #ff4a4a;
  margin: -12px 0 0 0;
}

.description {
  color: #084e7c;
  font-size: 18px;
  margin: 0;
}

.instock {
  background-color: #b3cc05;
  color: white;
  font-size: 14px;
  width: 80px;
  text-align: center;
}

.sizes span,
.colors span {
  color: #084e7c;
  font-weight: 600;
  font-size: 16px;
  margin-right: 5px;
}

.size,
.color {
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #084e7c;
  margin: 0 5px;
}

.size:hover,
.color:hover {
  transform: scale(1.1);
}

.sizes .active,
.colors .active {
  color: #02a2d9;
}

.sizes .disabled,
.colors .disabled {
  color: #a7a7a7;
}

.sizes .size {
  width: 32px;
}

.colors {
  margin: 10px 0;
}

.add-to-cart,
.add,
.go {
  border: none;
  color: white;
  font-size: 28px;
  font-weight: 700;
  height: 70px;
  margin: 10px 0;
  text-transform: uppercase;
}

.add-to-cart,
.add {
  background-color: #02a2d9;
}

.add-to-cart:hover,
.add:hover {
  background-color: #084e7c;
}

.add-to-cart {
  width: 100%;
}

.add,
.go {
  width: 49.5%;
}

.go {
  background-color: #b3cc05;
}

.go:hover {
  background-color: #037333;
}
.info {
  color: #02a2d9;
  font-weight: 600;
  margin: 5px 0;
}

.info span {
  color: #084e7c;
  font-size: 16px;
}
